/* start of global rules */

html {
  scroll-behavior: smooth;
}

:root {
  --yellow: #f4d04e;
  --Gray-950: #111111;
  --Gray-500: #6b6b6b;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: var(--yellow);
}

/* end of global rules */

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 24rem;
  padding: 1.5rem;
  gap: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 10px 10px;
  border: 1px solid var(--Gray-950);
}

.card > img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card .text {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  flex-direction: column;
  width: 100%;
}

.card .text h1 {
  margin: 0;
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 800;
  background-color: var(--yellow);
  padding: 0.28em 0.8em;
  width: fit-content;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  color: var(--Gray-950);
}

.card .text h2 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 800;
  color: var(--Gray-950);
  transition-duration: 0.3s;
}

.card .text h2:hover {
  color: var(--yellow);
  cursor: pointer;
}

.card .text p:first-of-type {
  margin: 0;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 150%;
  color: var(--Gray-950);
}

.card .text p:last-of-type {
  margin: 0;
  font-size: 1rem;
  line-height: 150%;
  font-weight: 500;
  color: var(--Gray-500);
}

.card .author {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  align-items: center;
}

.card .author img {
  height: 32px;
}

.card .author h3 {
  margin: 0;
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 800;
}

@media (max-width: 776px) {
  .card {
    width: 20.438rem;
  }
}
