/* start of global rules */

html {
  scroll-behavior: smooth;
}

:root {
  --yellow: #f4d04e;
  --Gray-950: #111111;
  --Gray-500: #6b6b6b;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: var(--Slate-300);
}

/* end of global rules */
